<?xml version="1.0" encoding="UTF-8"?>
  <configuration>

      <!-- Single console appender: WARN and above, terse, stdout only -->
      <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
          <target>System.out</target>
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>INFO</level>
          </filter>
          <encoder>
              <pattern>%-5level %msg%n</pattern>
          </encoder>
      </appender>

      <logger name="com.simiacryptus" level="INFO"/>
      <!-- Traffic logs are for the web UI; silence them in the CLI -->
      <logger name="TRAFFIC" level="OFF"/>
      <!-- Common noisy third-party loggers -->
      <logger name="org.eclipse.jetty" level="OFF"/>
      <logger name="okhttp3" level="OFF"/>

      <root level="INFO">
          <appender-ref ref="STDOUT"/>
      </root>
  </configuration>